.Cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px white solid;
	-webkit-transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
}

.Cell:hover {
	cursor: pointer;
	border-bottom: 4px #06acf1 solid;
	border-right: 4px #06acf1 solid;
}

.focused {
	border-top: 4px #cf5f3b solid;
	border-left: 4px #cf5f3b solid;
}
