.SudokuBoard {
	display: grid;
	height: 48vh;
	width: 48vh;
	grid-template-columns: repeat(3, 33.33%);
	grid-template-rows: repeat(3, 33.33%);
	/* grid-auto-rows: minmax(9em, 12vw); */
	grid-gap: 3px;
}

.SudokuBoard > * {
	background: #efefef;
	border-radius: 12px;
}
